<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>

 <h1>Select Launchfile</h1>
    <form action="/trigger_execution" method="post">
        <label for="launchfile_id">Select a launchfile:</label><br>
        <input type="radio" id="bringup" name="launchfile_id" value="bringup">
        <label for="bringup">Bringup</label><br>
        <input type="radio" id="startmapping" name="launchfile_id" value="startmapping">
        <label for="startmapping">Start Mapping</label><br>
        <input type="radio" id="savemap" name="launchfile_id" value="savemap">
        <label for="savemap">Save Map</label><br><br>
        <input type="submit" value="Trigger Execution">
    </form>
    {% if execution_status %}
        <p>Execution Status: {{ execution_status }}</p>
    {% endif %}
    <hr>
    
    <form action="/current_values" method="get">
        <button type="submit">Current Values</button>
    </form>
    {% if current_status %}
        <p>Current Values: {{ current_status }}</p>
    {% endif %}
    <hr>
    
    <form action="/read_data" method="get">
        <button type="submit">Read Data</button>
    </form>
    {% if data %}
        <h2>Data</h2>
        <pre>{{ data }}</pre>
    {% endif %}
</body>
</html>

